
body {
  font-family: 'Arial', Times, serif; 
  font-size: 15px;
  background-color:#F5F5F5;
}

h1 {
    color: black;;
    font-size: 36px;
    margin: 0;
    vertical-align: baseline;
    padding-top:5px;
    padding-bottom: 20px;
    font-weight: bold;
    border: 0;
    margin-left: 10px;
  }

  .well {
    position: relative;
    left: 54px;
  }
  
 
    /* Navbar */

.navbar {
  width: 100%;
  padding: 0;
  
}

.navbar-custom { 
  background-color: #f39800; 
  color: #F5F5F5;
} 
 

.navbar-custom .navbar-brand{ 
  background-color: #f39800; 
  color: #F5F5F5;
} 
 
.navbar-brand {
  font-size: 32px;
  font-weight: bolder;
  padding: 5px;
  margin-left: 3%;   
}
  
.navbar-collapse {
  position: absolute;
  right: 5%;
  font-size: small;
}
  
.nav-item {
  font-weight: bold;
}

.nav-link {
  color: #F5F5F5;
}


.text-center {
  background-color: #F5F5F5;
  font-size: larger;
}

p {
  text-align: left;
  text-indent: 30px;
  font-size: large;
}

.tab { 
  margin-left: 40px; 
  line-height: 125%;  
  font-size: large;
}

/* plots */

#pairplot {
  display: flex;
  justify-content: center;
}

#lineplot {
  display: flex;
  justify-content: center;
}

#chart_one {
  display: flex;
  justify-content: center;
}

#bubble_ed {
  display: flex;
  justify-content: center;
}

#map_ed {
  display: flex;
  justify-content: center;
}



